body {
font-family: Arial;
background:#0b1a2a;
color:#fff;
}

.container {
width:90%;
margin:auto;
}

.price-card {
background:#13263d;
padding:20px;
margin:10px;
border-radius:10px;
}

.btn {
display:block;
padding:10px;
text-align:center;
background:#00c2ff;
color:#000;
margin-top:10px;
text-decoration:none;
}
